<section>
			
			<div>
				
				<h1 class="title"> SOLICITAÇÃO DE ORÇAMENTO</h1>
					<div class="content">
						<p ng-repeat="Paragrafo in resumo">
						{{paragrafo}}</p>
			

			</div>



				<h1 class="title">SOLICITAÇÃO DE ORÇAMENTO</h1>
				
				<p class="content">
					<form>
						
						<label> Titulos</label>
						<input type="text" name="titulo" ng-model="orcamento.titulo"> <br>
						<label> Contatos</label>
						<input type="text" name="contatos" ng-model="orcamento.contatos"> <br>
						<label> Descrição</label>
						<input type="text" name="descricao" ng-model="orcamento.descricao">
						<br><br>
						
						<button ng-click="solicitarOrcamento(orcamento)"> Solicitar</button>
					</form>
					
					<li>
					HTML (abreviação para a expressão inglesa HyperText Markup Language, que significa Linguagem de Marcação de Hipertexto) é uma linguagem de marcação utilizada na construção de páginas na Web. Documentos HTML podem ser interpretados por navegadores. A tecnologia é fruto da junção entre os padrões HyTime e SGML.

				
			</div>
</section>	
		
<section>
				<div>
					<h1 class="title">História...</h1>
				
					<p class="content">
						<li>
						Tim Berners-Lee (físico britânico) criou o HTML original (e outros protocolos associados como o HTTP) em uma estação NeXTcube usando o ambiente de desenvolvimento NeXTSTEP. Na época a linguagem não era uma especificação, mas uma coleção de ferramentas para resolver um problema de Tim: a comunicação e disseminação das pesquisas entre ele e seu grupo de colegas. Sua solução, combinada com a então emergente internet pública (que tornar-se-ia a Internet) ganhou atenção mundial. As primeiras versões do HTML foram definidas com regras sintáticas flexíveis, o que ajudou aqueles sem familiaridade com a publicação na Web. Através do tempo, a utilização de ferramentas para autoria de HTML aumentou, assim como a tendência em tornar a sintaxe cada vez mais rígida. Apesar disso, por questões históricas (retrocompatibilidade), os navegadores ainda hoje conseguem interpretar páginas web que estão longe de ser um código HTML válido.

											
				</div>
</section>



		
		
<section>
			
			<div>
				<h2 class="title">Contato</h2>
					<div class="content">						
					<p> <i class="material-icons">mail_outline</i> wesklay@gmail.com</p>
					</div>
			</div>			

</section>